@import 'bootstrap';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

*{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
}


body{
    padding: 70px;
}


.imgformcreate{
    background-size: cover!important;
    background-position: center;
}
.body-welcome{
    
    color: white;
    background-color: #131B23;
    height: 1200px;
} 

.navbar{
    background-color: #45425A!important;
}

.centernav {

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nava{
    color: white;
}

.nava:hover{
    color: blue;
}

/* body{
    background-color: #cdcdcd;
} */



.navcustm{
    background-color: #586BA4;
    border:#000000;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 3px #ffffff;
} 
@keyframes rainbow {
    0% { color: red; }
    20% { color: orange; }
    40% { color: yellow; }
    60% { color: green; }
    80% { color: blue; }
    100% { color: violet; }
}

/* Stile per il testo */
.rainbow-text {
    /* Applica l'animazione */
    animation: rainbow 3s infinite;
    /* Il testo deve rimanere statico quando non viene fatto hover sopra di esso */
    animation-play-state: paused;
    /* Mostra il cursore a forma di mano quando ci si posiziona sopra il testo */
    cursor: pointer;
}

/* Stile per il testo quando viene fatto hover sopra di esso */
.rainbow-text:hover {
    /* Avvia l'animazione */
    animation-play-state: running;
}
/* ORA AGGIUNGIAMO STILE AL FOOTER */

footer{
    background-color: #262626;
    margin-top: -6cm!important;
    margin-bottom: -0.3cm;
}


/*  */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.card {
    width: 300px;
    margin: 0 auto;
    margin-top: 100px; /* Sposta la card verso il basso */
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
}

.card-title {
    margin-bottom: 20px;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}