/* Stili generali */
@import 'bootstrap';

* {
    font-family: 'Pacifico', sans-serif;

    box-sizing: border-box;

}

body {
    padding: 0px!important;
    margin: 0; /* Aggiunto per rimuovere eventuali margini di default */
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
    background-attachment: fixed !important;
    overflow: hidden !important;
}

.imgformcreate {
    background-size: cover !important;
    background-position: center;
}

.body-welcome {
    color: white;
    background-color: #131B23;
    height: 1200px;
}










@keyframes rainbow {
    0% { color: red; }
    20% { color: orange; }
    40% { color: yellow; }
    60% { color: green; }
    80% { color: blue; }
    100% { color: violet; }
}

.rainbow-text {
    animation: rainbow 3s infinite;
    animation-play-state: paused;
    cursor: pointer;
}

.rainbow-text:hover {
    animation-play-state: running;
}

footer {
    font-size: small;
    color: white !important;
    background-color: #262626;
    margin-top: -7cm !important;
    margin-bottom: -0.5cm;
}

/* Stili specifici per la pagina di registrazione */
.form-box {
    max-width: 600px;
    background: #f1f7fe;
    overflow: hidden;
    border-radius: 16px;
    color: #010101;
    margin: auto;
    margin-top: 100px; /* Aggiunto per spaziare il form dalla navbar */
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 15px 24px 5px;
    gap: 16px;
    text-align: center;
}

.title {
    font-weight: bold;
    font-size: 1.6rem;
}

.subtitle {
    font-size: 1rem;
    color: #666;
}

.form-container {
    overflow: hidden;
    border-radius: 8px;
    background-color: #fff;
    margin: 1rem 0 .5rem;
    width: 100%;
}

.input {
    background: none;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #eee;
    font-size: .9rem;
    padding: 8px 15px;
}

.form-section {
    padding: 16px;
    font-size: .85rem;
    background-color: #e0ecfb;
    box-shadow: rgb(0 0 0 / 8%) 0 -1px;
}

.form-section a {
    font-weight: bold;
    color: #0066ff;
    transition: color .3s ease;
}

.form-section a:hover {
    color: #005ce6;
    text-decoration: underline;
}

.form button {
    background-color: #0066ff;
    color: #fff;
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
}

.form button:hover {
    background-color: #005ce6;
}

.profile-image-preview {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 16px;
}

body{
    background-color: #005ce6;
}