@import 'bootstrap';

* {
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 70px;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center!important;
    background-attachment: fixed!important;
    overflow: hidden!important;
}

.imgformcreate {
    background-size: cover!important;
    background-position: center;
}

.body-welcome {
    color: white;
    background-color: #131B23;
    height: 1200px;
} 

.navbar {
    background-color: #45425A!important;
}

.centernav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nava {
    color: white;
}

.nava:hover {
    color: blue;
}

.navcustm {
    background-color: #586BA4;
    border:#000000;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 3px #ffffff;
} 

@keyframes rainbow {
    0% { color: red; }
    20% { color: orange; }
    40% { color: yellow; }
    60% { color: green; }
    80% { color: blue; }
    100% { color: violet; }
}

/* Stile per il testo */
.rainbow-text {
    /* Applica l'animazione */
    animation: rainbow 3s infinite;
    /* Il testo deve rimanere statico quando non viene fatto hover sopra di esso */
    animation-play-state: paused;
    /* Mostra il cursore a forma di mano quando ci si posiziona sopra il testo */
    cursor: pointer;
}

/* Stile per il testo quando viene fatto hover sopra di esso */
.rainbow-text:hover {
    /* Avvia l'animazione */
    animation-play-state: running;
}

/* ORA AGGIUNGIAMO STILE AL FOOTER */

footer {
    font-size: small;
    color: white!important;
    background-color: #262626;
    margin-top: -7cm!important;
    margin-bottom: -0.5cm;
}
