@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poetsen+One&family=Quicksand:wght@300..700&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Poetsen+One&family=Quicksand:wght@300..700&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

html , body{
    margin-top: 80px;
}



/* .imgformcreate {
    background-size: cover !important;
    background-position: center;
} */

/* .bodywelcome{
    color: white;
    background-color: #8772ff;
    margin-top: 20px;
} */

/* .body-welcome {
    color: #ffffff;
    background-color: #000000;
     */
/* } */
/* 
.navbar {
    background-color: #d4d4d4 !important;
    
} */



/* .nava {
    color: rgb(18, 18, 143);
} */


/* .navcustm {
    background-color: #ffffff;
    border: #000000;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 3px #ffffff;
}  */

